body{
  margin: 0px;
  margin-top: 10px;
  background-color: BurlyWood;
  text-align: center;
}



.col{
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: white;
  margin-top: 3px;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  padding-top: 20px;
}

.heading{
  font-size: 40px;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: bold;
}

button{
  padding: 20px;
  margin-top: 10px;
  font-size: 20px;

}
